.about{
    background: $main-bg-color;
    height: 800px;

    .card-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: -200px;
        padding: 0 20px;

        .card{
            background: #FFFFFF;
            width: auto;
            height: 450px;
            text-align: center;
            margin-right: 30px;
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transition: transform 0.4s ease, box-shadow 0.4s ease;

            &:hover{
                box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.12);
                -webkit-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.12);               
            }

            i.fas, i.far {
                font-size: 5vw;
                color: transparent;
                -webkit-text-stroke: 3px $blue;
                -webkit-text-fill-color: transparent;
            }

            h2{
                font-size: 2vw;
                font-weight: $bold-weight;
                color: $dark-grey;
            }

            p{
                font-size: 1.2vw;
                font-weight: $medium-weight;
                color: $light-grey;
            }

            button{
                border: 1px solid $light-grey;
                border-radius: 50px;
                width: 50%;
                height: 30px;
                color: $light-grey;
                background: #FFFFFF;

            }
        }
    }
}