.services{
    background: $main-bg-color;
    height: 300px;

    .cards{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: -200px;


        .card{
            background: #FFFFFF;
            max-width: 25%;
            min-width: 250px;
            height: 450px;
            text-align: center;
            margin-right: 20px;
            padding: 50px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transition: transform 0.4s ease, box-shadow 0.4s ease;

            &:hover {
                box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.12);
                -webkit-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.12);               
            }

            &:last-child {
                margin-right: 0;
            }

            i.fas, i.far {
                font-size: 4em;
                color: transparent;
                -webkit-text-stroke: 3px $blue;
                -webkit-text-fill-color: transparent;
            } 

            h2{
                font-size: 1.5em;
                font-weight: $bold-weight;
                color: $dark-grey;
            }

            p{
                font-size: 0.9em;
                font-weight: $medium-weight;
                color: $light-grey;
            }
        }
    }
}