.solutions{
    height: 500px;

    .container{
        flex-direction: column;
        align-items: flex-start;

        .solutionsLibrary{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-flow: row wrap;
            height: 300px;
            
            div{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 10px 50px 10px 0;

                h2{
                    color: $dark-grey;
                    font-weight: $medium-weight;
                }

                p{
                    color: $light-grey;
                    line-height: 2;
                    font-weight: $medium-weight;
                }
            }
        }
    }
}