.welcome {
    background: linear-gradient(45deg, rgba(25,119,186,.9) 0%, rgba(175,63,153,.9) 100%), url('../img/welcome-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

    h2{
        text-transform: uppercase;
        font-weight: $light-weight;
        color: #FFFFFF;
        margin-top: 200px;
        font-size: 50px;
        line-height: 1.5;

        span{
            font-weight: $extra-bold-weight;
        }
    }
}