//General Styles//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

body{
    background: $main-bg-color;
}

a {
    text-decoration: none;
}

//Container that centers the content within 70% of body width//
.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


//TYPOGRAPHY//
.titles {
    font-family: $main-font;
    letter-spacing: 2px;
    color: $blue;
    font-size: 40px;
    font-weight: $medium-weight;
}
